/* ROOT start */

:root {
    --fR400: "Roboto-Regular";
    --fP400: "PlayfairDisplay-Medium";
    --green: #41a28e;
    --black_70: rgba(0, 0, 0, 0.7);
    --text: #666666;
    --bgDesc: rgba(75, 72, 72, 0.7);
    --bgFooter: #121212;
}

body {
    font-family: var(--fP400);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: #000;
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

button, input {
    outline: none;
    border: none;
}

button:focus {
    outline: none;
}

.title {
    font-size: 50px;
    line-height: 67px;
    margin-bottom: 16px;
}

.paragraph {
    font-family: var(--fR400);
    font-size: 16px;
    line-height: 21px;
    color: var(--text);
    margin-bottom: 50px;
}

/* ROOT end */

/* header start */

.navbar {
    padding: 25px 0;
}

.header__nav-link {
    font-size: 12px;
    color: #000;
    padding: 0 20px;
}

.header__nav-link:hover {
    color: var(--green);
}

.header__control {
    font-size: 14px;
    border-color: var(--green);
    border-radius: 0;
    height: calc(1.5em + 0.75rem);
    font-family: var(--fR400);
}

.header__control::placeholder {
    color: #000;
}

.form-control:focus {
    background-color: #fff;
    border-color: var(--green);
    box-shadow: none;
}

.header__btn {
    padding: 7px;
    line-height: 0;
    border-radius: 0;
    border: 1px solid var(--green);
    color: var(--green);
}

.header__btn:hover {
    background: var(--green);
    color: var(--white);
}

.dropdown-item {
    font-size: 12px;
}

.dropdown-item.active, .dropdown-item:active {
    background: var(--green);
}

/* header end */

/* slider start */

.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider__title {
    font-size: 50px;
    line-height: 67px;
    font-family: var(--fP400);
    padding: 16px 60px;
    background: var(--black_70);
    margin-bottom: 30px;
}

.slider__txt {
    font-size: 22px;
    line-height: 29px;
    color: var(--white);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
    margin-bottom: 50px;
}

.slider__btn {
    display: inline-block;
    padding: 22px 34px;
    background: var(--white);
    font-size: 12px;
    line-height: 16px;
    transition: 0.3s;
}

.slider__btn:hover {
    background: var(--green);
    color: var(--white);
}

/* slider end */

/* images start */

.images {
    padding: 50px 0;
}

.images__photo {
    overflow: hidden;
}

.images__link {
    position: relative;
}

.images__photo:hover .images__txt {
    transform: translateY(-100%);
}

.images__img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--green);
}

.images__txt {
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    color: var(--white);
    background: var(--bgDesc);
    padding: 4px 0;
    text-transform: capitalize;
    font-family: "PlayfairDisplay-Regular";
    position: absolute;
    width: 100%;
    transition: .5s;
}

/* images end */

/* ready start */

.collection {
    background: url(../img/home-1-parallax-1.jpg) center center / cover;
    padding: 120px 0;
    color: var(--white);
}

.collection__title {
    margin-bottom: 20px;
}

.collection__btn {
    padding: 20px 46px;
    background: var(--white);
    font-size: 12px;
    line-height: 13px;
    transition: .5s;
    display: inline-block;
}

.collection__btn:hover {
    background: var(--green);
    color: var(--white);
}

/* ready end */

/* custom start */

.custom {
    padding: 50px 0;
}

.custom__images {
    width: 100%;
    object-fit: cover;
}

.custom__txt {
    font-size: 20px;
    line-height: 29px;
}

.custom__cart {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.fa-heart:before,
.fa-shopping-cart:before,
.fa-eye:before {
    transition: .3s;
}

.custom__hearth:hover .fa-heart:before,
.custom__add:hover .fa-shopping-cart:before,
.custom__eye:hover .fa-eye:before {
    color: var(--green);
    font-weight: 700;
}

.custom__cart:hover .custom__icons {
    transform: translateY(0);
}

.custom__info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 10px;
    font-family: var(--fR400);
    padding: 10px 18px;
    background: var(--bgDesc);
    color: var(--white);
}

.custom__icons {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: var(--black_70);
    color: var(--white);
    font-family: var(--fR400);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: .5s;
}

.custom__icons * {
    cursor: pointer;
    font-size: 14px;
}

.custom__add span {
    margin-right: 16px;
}

/* custom end */

/* footer start */

.footer {
    background: #000;
}

.footer__social {
    padding: 36px 0;
}

.social__list {
    list-style: none;
}

.social__title {
    font-size: 24px;
    color: var(--white);
    margin-bottom: 40px;
}

.social__link {
    color: var(--white);
    font-family: var(--fR400);
    font-size: 14px;
    line-height: 36px;
    text-transform: capitalize;
}

.social__link:hover {
    color: var(--green);
}

.social__link-icon {
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: var(--fR400);
    font-size: 14px;
    width: max-content;
}

.social__link-icon:hover {
    color: var(--green);
}

.social__icon {
    font-size: 20px;
    margin-right: 10px;
}

.footer__form {
    display: flex;
    margin-bottom: 20px;
}

.footer__form-input {
    padding: 10px 14px;
    max-width: 200px;
    font-family: var(--fR400);
}

.footer__form-btn {
    padding: 10px;
    text-transform: uppercase;
    font-family: var(--fR400);
    background: var(--green);
    color: var(--white);
}

.footer__txt {
    color: var(--white);
    font-family: var(--fR400);
    margin-bottom: 20px;
}

.footer__icon {
    font-size: 30px;
    margin-right: 10px;
    color: var(--white);
}

.footer__icon:hover {
    color: var(--green);
}

.footer__copy {
    padding: 40px 0;
    background: var(--bgFooter);
    color: var(--text);
    font-family: var(--fR400);
    font-size: 18px;
}

.author {
    animation: shadow 2s linear infinite;
}

@keyframes shadow {
    0% {
        text-shadow: 0 0 5px red;
    }

    50% {
        text-shadow: 0 0 5px #fff;
    }

    100% {
        text-shadow: 0 0 5px red;
    }
}

/* footer end */

@media (max-width: 1140px) {
    .header__control {
        width: 78% !important;
    }
    .title {
        font-size: 46px;
    }
    .social__title {
        font-size: 22px;
    }
    .footer__form-input {
        max-width: 100%;
    }
    .footer__form {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .custom__icons {
        padding: 15px 5px;
    }
    .header__nav-link {
        padding: 0;
    }
    .header__control {
        width: 35% !important;
    }
    .slider__title {
        font-size: 36px;
        line-height: unset;
        padding: 16px 20px;
    }
    .carousel-caption {
        padding: 10px 0;
    }
    .slider__txt {
        margin-bottom: 40px;
    }
    .slider__btn {
        padding: 16px 26px;
    }
    .images {
        padding-bottom: 25px;
    }
    .images__photo {
        margin-bottom: 25px;
    }
    .custom__icons {
        justify-content: space-evenly;
    }
    .custom {
        padding-bottom: 25px;
    }
    .custom__product {
        margin-bottom: 25px;
    }
    .footer__social {
        padding-bottom: 10px;
    }
    .social {
        margin-bottom: 25px;
    }
    .footer__form {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        height: unset;
    }
}

@media (max-width: 684px) {
    .navbar {
        padding: 15px 0;
    }
    .carousel-caption {
        bottom: 10px;
    }
    .collection {
        padding: 80px 0;
    }
}

@media (max-width: 576px) {
    .slider__title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .slider__txt {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .slider__btn {
        padding: 12px 20px;
        font-size: 10px;
        line-height: 12px;
    }
}

@media (max-width: 575px) {
    .header__control {
        margin-right: 5px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 10px;
        height: 10px;
    }
    .images__photos {
        flex-direction: column;
        align-items: center;
    }
    .images__photo {
        max-width: 70%;
    }
    .ready__content {
        text-align: center;
    }
    .custom__products {
        flex-direction: column;
        align-items: center;
    }
    .custom__product {
        max-width: 70%;
    }
}

@media (max-width: 414px) {
    .header__control {
        width: 50% !important;
    }
    .carousel-caption {
        bottom: 0;
    }
    .slider__title {
        font-size: 20px;
        margin-bottom: 0;
        padding: 5px 15px;
    }
    .slider__txt {
        font-size: 14px;
    }
    .slider__btn {
        padding: 8px 18px;
    }
    .navbar-brand img {
        width: 65%;
    }
    .title {
        font-size: 32px;
        line-height: 34px;
    }
    .paragraph {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .collection__btn {
        padding: 16px 36px;
    }
    .custom__icons {
        padding: 10px 0;
    }
    .custom__icons * {
        font-size: 10px;
    }
    .custom__info {
        font-size: 10px;
        padding: 8px 10px;
    }
    .custom__txt {
        font-size: 16px;
    }
    .custom__price {
        font-size: 14px;
    }
    .images__txt {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 26px;
        line-height: 26px;
    }
    .paragraph {
        font-size: 12px;
        line-height: 16px;
    }
    .carousel-caption {
        opacity: 0;
        transition: .5s;
    }
    .carousel-item:hover .carousel-caption {
        opacity: 1;
    }
    .images {
        padding: 25px 0;
    }
    .images__photo {
        margin-bottom: 15px;
    }
    .slider__title {
        font-size: 16px;
        line-height: 18px;
    }
    .slider__txt {
        margin-bottom: 10px;
    }
    .collection__txt {
        margin-bottom: 5px;
    }
    .collection__btn {
        line-height: 14px;
        padding: 16px 26px;
    }
}

@media (max-width: 280px) {
    .footer__form {
        flex-direction: column;
    }
}